.header {
  height: 5.1875rem;
}

.a.button.active {
  border: 1px solid var(--fore-color);
}

.row{
  display: grid;
  grid-template-columns: 35rem 35rem 35rem;
  grid-gap: 1rem;
  width: auto;
  height: auto;

}
.cols-sm{
  margin-left: 10px;
  width: auto;
  border-style: solid;
  border-color: silver;
  background-color: silver;
  padding: 10px;
}
.form{
  min-width: 300px;
}
.section-dark{
  align-items: center;
  display: inline-block;
  position: relative;
}
.rounded{
  height: auto;
  width: 100%;
  object-fit: cover;
}